html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  main{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }